---
---

<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/zh/" />
    <link rel="canonical" href="/zh/" />
    <title>KAMITSUBAKI FAN WIKI</title>
  </head>
  <body>
    <a href="/zh/">进入中文界面</a>
  </body>
</html>
